/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

__________________________________________________________________________________________________________________________
/* Start Here */
/* Body */
body{
	max-width: 1280px;
    margin: auto;
}
#container {
    line-height: 1;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
/* Header/NavBar */
#navbar {
	padding-top: 2px;
	display: flex;
	flex-direction: row;
	background-color: darkcyan;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
}
.nav-logo > a > img {
	width: 60px;
    height: auto;
	margin-right: auto;
}
.nav-menu {
	display:flex;
	flex-direction: row;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}

/* NavMenu */
.menu-item {
    align-self: center;
    margin-right: 2px;
    background-color: antiquewhite;
}
.menu-item > a:link {
    background-color: darkcyan;
    color: black;
    padding: 20px 20px ;
    text-decoration: none;
}
.menu-item > a:hover, .menu-item > a:active {
    background-color: darkcyan;
    color: white;
}

/* Main */
/* Headline */
#headline > h1 {
	display: flex;
	justify-content: center;
	align-content: center;
	font-weight: 800;
	font-size: 30px;
	padding: 20px;
}
#headline > h6 {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;

}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.column {
	max-width: 750px;
}
#testimoni {
	display:flex;
	flex-direction: column;
	width:auto;
	background-color: aliceblue;
	justify-content: center;
	align-items: center;
}
#testimoni > p {
	margin-top: 20px;
	font-style: italic;
}
.testimoni-orang {
    display: flex;
    margin-top: 20px;
}
.testimoni-orang > img {
	margin-right: 10px;
}
.orang-job {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}
.orang-job > .name {
	font-weight: 900;
}
.orang-job > .job {
	font-style: italic;
}

/* More Information */
#more-information {
	max-width: 600px;
	margin: auto;
}
#more-information > p {
	margin-top: 20px;
}
.feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.feature > h2 {
	font-size: 25px;
	color: aliceblue;
	background-color: darkcyan;
	border-radius: 50%;
	padding-top: 8px;
	margin-right: 10px;
	height: 40px;
	width: 50px;
	text-align: center;
}
.feature > img {
	border-radius: 50%;
	margin-right: 10px;
}

/* Contact Us */
#contact-us {
    border-radius: 1%;
	background-color: navy;
    color: white;
    padding: 40px;
}
#contact-us > h3 {
    padding-top: 10px;
	padding-bottom: 24px;
    font-size: 24px;
	font-weight: 600;
}
#contact-us > p {
	padding-bottom: 70px;
}
#contact-us > form {
	display: flex;
	flex-direction: column;
}
.input-1, .input-2, .input-3 {
	padding: 5px 150px 5px 0px;
}

/* Our Packages */
#our-packages {
	max-width: 1280px;
    margin: auto;
}
#our-packages > h1 {
	display:flex;
	font-size: 30px;
	font-weight: 800;
	justify-content: center;
	align-items: center;
	padding: 40px;
    background-color: aliceblue;
	margin-bottom: 20px;
}
.top {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	justify-content: space-between;
}
.bottom {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	justify-content: space-between;
}
.destinasi {
	display: flex;
	flex-direction: column;
	max-width: 400px;
}
.city {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.city > .bali {

}
.city > img {
	border-radius: 50%;
	height: 80px;
	width: 80px;
}
.town {
	font-size: 24px;
	margin-left: 12px;
}
.town-desc {
	margin-left: 82px;
	margin-right: 25px;
}

/* Call Us */
#call-us {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align
}
#call-us > h2 {
	display: flex;
	font-size: 30px;
	font-weight: 800;
	justify-content: center;
	align-items: center;
	padding: 40px;
}
#call-us > p {
	margin-bottom: 40px;
	text-align: center;
}
#call-us > button {
	display:flex;
	margin-bottom: 40px;
	max-width: fit-content;
	align-self: center;
	padding: 10px 20px;
}
/* Footer */
footer {
	max-width: 1280px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: darkcyan;
	color:aliceblue;
	padding: 12px;
}
footer > img {
	width: 60px;
	height: 100%;
}